* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  margin-bottom: 20px;
}

.country {
  text-decoration: underline;
  cursor: pointer;
}

.payment-box {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.method {
  display: flex;
  align-items: center;
  gap: 15px;
}

.method img {
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 5px;
}

.icon.card {
  width: 40px;
  height: 40px;
  background: #444;
  border-radius: 5px;
}

.amount {
  font-size: 28px;
  margin: 20px 0;
}

.amount span {
  font-size: 18px;
}

.pay-btn {
  background: #555;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

.terms {
  font-size: 12px;
  color: #aaa;
}

footer {
  margin-top: 60px;
  font-size: 12px;
  color: #bbb;
}

footer a {
 color: #fff;
  text-decoration: underline;
}

.powered {
  margin-top: 10px;
}

.powered .zen,
.powered .mc {
  display: inline-block;
  width: 30px;
  height: 16px;
  background: #333;
  margin-left: 5px;
}
