.fleet-section {
    text-align: center;
    padding: 50px 5%;
    background: #eeeff1;
}

.fleet-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #111;
}

.fleet-section p {
    font-size: 1.1rem;
    color: #1c1c42;
    margin-bottom: 40px;
}

.fleet-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.category {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    transition: 0.3s;
}

.category:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.category h3 {
    color: #1c1c42;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.category p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 20px;
}

.category a img {
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
}

.category a img:hover {
    opacity: 1;
}